.git
.github
.vscode
node_modules
npm-debug.log
coverage
temp
cypress
playwright-report
test-results
tests
public/uploads
public/uploads/
*.log
.DS_Store
.env
.env.*
debug.log*
*.local
coverage/
temp/
!public/uploads/images/
!public/uploads/images/**